@import "tailwindcss";
/* @plugin "daisyui"; */
body {
  overflow-x: hidden;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-move {
  animation: move 60s linear infinite;
}
